.top-actions {
  width: 100%;
  margin-bottom: 8px;

  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
  }
}

.top-logo {
  background-color: $color-branding;
  border-radius: $size-border-radius;
  padding: 8px 64px;
}

.top-menu {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  li {
    list-style: none;
    padding: 8px 12px;
    margin-left: 12px;
  }

  .active {
    background-color: $color-primary;
    border-radius: $size-border-radius;

    a {
      color: $color-white;
    }
  }
}

.main {
  .container {
    background-color: $color-white;
    border-radius: 16px;
    box-shadow: 0px 3px 20px -5px rgba(0,0,0,0.3);
    padding: 32px;
  }
}

.featured-book {
  background-color: $color-background;
  margin: 32px -32px;
  overflow: hidden;


  .recommended {
    grid-column-start: 2;
    background-color: $color-primary;
    border-radius: 0 0 0 5px;
    padding: 4px;
    color: $color-white;
    font-size: $font-xxs;
    text-align: center;
    float: right;
  }

  img {
    border-radius: 8px;
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.6);
    width: 30%;
    float: left;
    margin: 32px;
  }

  .book-info {
    padding: 32px 32px 32px 0;
  }

  .title {
    margin-bottom: 0;
  }
}

.books-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 32px;
  margin-bottom: 64px;
}

.book {
  background-color: $color-background;
  padding: 16px;
  border-radius: 8px;
  text-align: center;

  img {
    width: 50%;
    margin-left: 35px;
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.6);
    border-radius: 8px;
    margin-bottom: 16px;
  }

  .position {
    float: right;
    color: $color-primary;
    border: 2px solid $color-primary;
    border-radius: 17px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0px;
  }

  .book-info {
    text-align: left;
    font-size: $font-xxs;
  }

  .title {
    font-weight: 900;
    font-size: $font-xxs;
  }

}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $color-very-dark;

  ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    padding: 16px 0;
  }

  li {
    list-style: none;
  }

  a {
    color: $color-white;
  }
}