// Sass Variables
$container-width: 960px;
$container-padding: 30px;

// Colors
$color-yellow: #e7c200;
$color-beige: #faf9f4;
$color-dark: #363533;
$color-very-dark: #292929;

// Colors semantic
$color-primary: $color-yellow;
$color-background: $color-beige;
$color-link: $color-very-dark;
$color-title: $color-dark;
$color-text: $color-very-dark;
$color-white: #fff;